APP_URL="http://localhost"
APP_ENV= ""
CHECK_ROUTER_CONFIG=true
TEST_ENV=true
APP_KEY=""
USER_AUTH_APP_URL="http://localhost"
DB_USER=""
DB_PASS=""
DB_HOST=""
DB_NAME=""
START_DEBUG=true
MAILER_ADDRESS=""
MAILER_USERNAME=""
MAILER_PASSWORD=""
MAILER_SECURE="tls"
MAILER_PORT=587
MAILER_DEBUG_LEVEL=1
EMAIL_COMPANY_ADDRESS=""
EMAIL_NOREPLY_ADDRESS=""
EMAIL_CONTACT_ADDRESS=""
MAIN_APP_DOMAIN="${APP_URL}${APP_ENV}"