<?xml version="1.0" encoding="UTF-8"?>
<package>
	
	<controller id="main" prefix="">

		<route url="/login">
			<page>_tpl_login</page>
			<methods>get</methods>
			<map>_tpl_login</map>
		</route>

		<route url="/register">
			<page>_tpl_register</page>
			<methods>get</methods>
			<map>_tpl_register</map>
		</route>
		
		<route url="/forgot-password">
			<page>_tpl_forgot-password</page>
			<methods>get</methods>
			<map>_tpl_forgot_password</map>
		</route>
		
		<route url="/check-email">
			<page>_tpl_check-email</page>
			<methods>get</methods>
			<map>_tpl_check_email</map>
		</route>
		
		<route url="/verify-account/{code}/{lang?}/">
			<page>_tpl_verify-account</page>
			<methods>get</methods>
			<map>_tpl_verify_account</map>
		</route>
		
		<route url="/reset-password/{code}/{lang?}/">
			<page>_tpl_reset-password</page>
			<methods>get</methods>
			<map>_tpl_reset_password</map>
		</route>
		
		<route url="/privacy-policy/">
			<page>_tpl_privacy-policy</page>
			<methods>get</methods>
			<map>_tpl_privacy_policy</map>
		</route>
			
		<route url="/" before="_user-auth-api.check_login">
			<page>_tpl_index</page>
			<methods>get</methods>
			<map>_tpl_index</map>
		</route>
	
	</controller>

</package>